@media (max-width: 700px) {
  /* line 2, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
  li, p {
    font-size: 20px; }

  /* line 6, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
  nav li {
    font-size: 24px; }

  /* line 11, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
  .calendar {
    padding: 10px 0px; }
    /* line 13, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
    .calendar .week {
      margin-bottom: 20px; }
    /* line 16, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
    .calendar .day {
      width: 100%; }
    /* line 19, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
    .calendar .day.inactive {
      display: none; } }
