@media (max-width: 767px) {
  /* line 2, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
  li, p {
    font-size: 18px; }

  /* line 6, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
  nav li {
    font-size: 24px; }

  /* line 11, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
  .calendar {
    padding: 10px 0px; }
    /* line 13, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
    .calendar .week {
      margin-bottom: 20px; }
    /* line 16, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
    .calendar .day {
      width: 94%; }
      /* line 18, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
      .calendar .day .head {
        font-size: 24px; }
      /* line 22, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
      .calendar .day .events p {
        font-size: 18px; }
    /* line 27, /Users/worace/code/friend_ranch/source/stylesheets/responsive.css.scss */
    .calendar .day.inactive {
      display: none; } }
